* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Piedra', cursive;
}

body {
  background: linear-gradient(#607D8B 4%, 15%, #ECEFF1, #FFFFFF);
}

.page {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-shadow: 0 0 3px #83f52c;
}

h3 {
  font-family: 'Piedra', cursive;
  font-size: 3rem;
}

.prompt {
  text-align: center;
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.choice {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.rock,
.paper,
.scissors {
  width: 20%;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  background-color: white;
  color: #1B5E20;
  font-family: 'Piedra', cursive;
  box-shadow: 0 6px;
  cursor: pointer;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  background-color: #81C784;
  color: white;
  transition-duration: 0.4s;
  box-shadow: 0 6px 0 #1B5E20;
}

.choice button:active {
  cursor: pointer;
  background-color: #43A047;
  color: white;
  box-shadow: 0 2px 0 #1B5E20;
}

.choice button:focus {
  outline: none;
}

.round {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
  flex-wrap: nowrap;
}

/*
.round img {
  height: 100%;
}
*/

.player-image,
.computer-image,
.vs {
  text-align: center;
  width: 30%;
  flex-shrink: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.game-stats {
  border: 2px solid black;
}

.players {
  display: flex;
  justify-content: space-between;
}

.person,
.computer {
  width: 25%;
  text-align: left;
}

.winner {
  text-align: center;
  height: 3.5rem;
}

.score {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 1rem;
}
